*.kate-swp
/.kdev4/
*.kdev4
*.pyc

/re
/typing

/import/maps
/import/reports/*.htm*
/import/reports-imported/*.htm*
/import/reports-deleted_renamed_players
/import/reports-older-than-current-scan-cycle
/import/world_settings
/game_infos/Formeln.htm
